{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}

<a href="{{ path('index') }}">Back</a>
<div class="example-wrapper">
    <h1>Name: {{game}}</h1>

    Members:
    <ul>
    	{% for user in game.members %}
			<li>{{user}}</li>
		{% else %}
			<li>No user</li>
    	{% endfor %}
    </ul>

    {% if game.started %}
        Deck: {{game.deck.cards|length}} <br>
    {% else %}
        <a href="{{ path('start_game', {'id': game.id}) }}">Start</a>
	{% endif %}
	<hr>
</div>
{% endblock %}
