{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}

<a href="{{ path('index') }}">Back</a>
<div class="example-wrapper">
    <h1>Name: {{game}} <small><a href="{{ path('quit_game', {'id': game.id}) }}">{% if game.started %}Abandon {% else %}Quit{% endif %}</a></small></h1>

    Members:
    <ul>
    	{% for user in game.members %}
			<li>{{user}} {% if game.started %}({{user.getHand(game).cards|length}}){% endif %}</li>
		{% else %}
			<li>No user</li>
    	{% endfor %}
    </ul>

    {% if game.started %}
        Board:
        <ul>
            {% for card in game.board.cards %}
                <li>{{card}}</li>
            {% else %}
                <li>No item yet</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if game.started %}
        Deck: {{game.deck.cards|length}} <br>
    {% else %}
        <a href="{{ path('start_game', {'id': game.id}) }}">Start</a>
	{% endif %}
	<hr>

    <div id="ws-content-receiver"></div>
    <input type="text" id="ws-content-to-send" />
    <button id="ws-send-content">Send</button>
</div>
{% endblock %}


{% block javascripts %}
  <script type="text/javascript">
    var wsUrl = 'localhost:8080';
    var userName = "{{ app.user | default('Anonymous')}}";
  </script>
  <script type="text/javascript" src="{{ asset('build/js/sf-websocket.js') }}"></script>
{% endblock %}