{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
{% set hand = app.user.getHand(game) %}

<div id="board-container">
    
    <h1>Name: {{game}} <small><a href="{{ path('quit_game', {'id': game.id}) }}">{% if game.started %}Abandon {% else %}Quit{% endif %}</a></small></h1>
    {% if game.started %}Turn: {{game.turn}}{% endif %}
    
    <hr>
    
    {% if game.started %}
        Black card:
        <article class="card" data-id='{{game.blackCard.id}}'>{{game.blackCard.content}}</article>
        <section id="board-select-cards">
            {% for i in 1..(game.blackCard.nbrOfBlanks) if game.state == constant('STATE_SELECT_CARD', game) %}
                <article class="card-placeholder" data-position="{{ i }}">
                    {% for card in hand.cards if card.selected and card.position == i %}
                        <article class="card" data-id='{{card.id}}'>{{card.content}}</article>
                    {% endfor %}
                </article>
            {% endfor %}
        </section>
        <section id="board-elect-cards">
            {% for hand in game.hands if game.state == constant('STATE_ELECT_CARD', game) %}
                <div>
                    {% for card in hand.selectedCards %}
                        <article class="card" data-id="{{card.id}}">{{card.content}}</article>
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endif %}
    
    <hr>

    {% if game.started %}
        White deck: {{game.whiteDeck.cards|length}} <br>
        Black deck: {{game.blackDeck.cards|length}}
        <hr>
        <div id="hand-container">
            Hand: <br>
            {% for card in hand.cards if not card.selected %}
                <article class="card" data-id='{{card.id}}'>{{card}}</article>
            {% else %}
                No item yet
            {% endfor %}
        </div>  
    {% else %}
        <a href="{{ path('start_game', {'id': game.id}) }}">Start</a>
    {% endif %}
    <hr>


</div>
<div id="board-sidebar">
    
    {% for player in game.members  %}
        <aside class="opponent">
            {{ player }} : {{ player.hand(game).points }}
        </aside>
    {% endfor %}
    <aside id="ws-content-receiver">
        {% for msg in game.messages %}
            <p>{{ msg.sender }} : {{ msg.content }}</p>
        {% endfor %}
    </aside>
    <input type="text" id="ws-content-to-send" />
    <button id="ws-send-content">Send</button>

</div>


{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/game.js') }}"></script>
    <script type="text/javascript">
        var wsUrl = 'localhost:8080';
        var userName = "{{ app.user | default('Anonymous')}}";
        var channel = "{{ game.id }}";
    </script>
{% endblock %}