{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
<div id="board-container">
    
    <h1>Name: {{game}} <small><a href="{{ path('quit_game', {'id': game.id}) }}">{% if game.started %}Abandon {% else %}Quit{% endif %}</a></small></h1>
    {% if game.started %}Turn: {{game.turn}}{% endif %}
    
    <hr>
    
    {% if game.started %}
        Board:
            {% for card in game.board.cards %}
                <article class="card-placeholder"><div></div></article>
                <article class="card" data-id='{{card.id}}'>{{card}} <br> {{card.displayedDate}}</article>
            {% endfor %}
            <article class="card-placeholder"><div></div></article>
    {% endif %}
    
    <hr>

    {% if game.started %}
        Deck: {{game.deck.cards|length}}
        <hr>
        <div id="hand-container">
            Hand: <br>
            {% for card in app.user.getHand(game).cards %}
                <article class="card" data-id='{{card.id}}'>{{card}}</article>
            {% else %}
                No item yet
            {% endfor %}
        </div>  
    {% else %}
        <a href="{{ path('start_game', {'id': game.id}) }}">Start</a>
    {% endif %}
    <hr>


</div>
<div id="board-sidebar">
    
    {% for opponent in game.members if opponent != app.user  %}
        <aside class="opponent">
            {{ opponent }} 
            {% if game.started %}
                ({{opponent.getHand(game).cards|length}}) <br>
                {% for card in opponent.getHand(game).cards %}
                    <article class="card" data-id='{{card.id}}'>{{card}}</article>
                {% endfor %}
            {% endif %}
        </aside>
    {% endfor %}
    <aside id="ws-content-receiver">
        {% for msg in game.messages %}
            <p>{{ msg.sender }} : {{ msg.content }}</p>
        {% endfor %}
    </aside>
    <input type="text" id="ws-content-to-send" />
    <button id="ws-send-content">Send</button>

</div>


{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/game.js') }}"></script>
    <script type="text/javascript">
        var wsUrl = 'localhost:8080';
        var userName = "{{ app.user | default('Anonymous')}}";
        var channel = "{{ game.id }}";
    </script>
{% endblock %}